body{
    display:flex;
    background-color: #580084;
}
.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color:white;
    border: 1px solid #580084;
    border-radius: 5px;
    margin-top: 100px;
   
    
  }
  @font-face {
    font-family: 'Ruda Regular';
    src: url('ruda-Regular.ttf') format('truetype');
  }
  #text-element {
    font-family: 'Ruda Regular', Arial, sans-serif;
  }
  
  .container h1 {
    text-align: center;
    color: #580084;
    margin-top:15px;

  }
  .container form h2{
    color: #580084;
    margin-bottom: 5px;
  }
  .container form h3{
    color: #52098ada;
    margin-bottom: 10px;
  }
  .container form h4{
    color: #52098ada;
    margin-bottom: 5px;
  }
  
  .container form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #cdb8dd;
    border:#580084;
    
  }
  
  .container form button {
    width: 100%;
    padding: 10px;
    background-color: #cdb8dd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
  }

  .container form button:hover {
    background-color: #580084;
  }

  .container form a{
      display: flex;
      text-align: center;
      margin-top: 30px;
      margin-left: 30px;
  }

  .container form select{
    width: 75%;
    padding: 10px;
    background-color: #cdb8dd;
    color: white;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 35px;

  }

  #quantidade{
       border-radius: none;
       border: none;
       padding: 5px;
       width:  50px;    
  }

.container img{
  width: 200px;
  height: 150px;
  border: 2px;
  margin-left: 50px;
  object-fit: cover;
}
.container hr{
  background-color: #580084;
  color: #580084;
  height: 2px;
}
.home{
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color:white;
  border: 1px solid #580084;
  border-radius: 5px;
  margin-top: 100px;
  
 
}
.home button{
  width: 100%;
  padding: 10px;
  background-color: #cdb8dd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 25px;
}
.home button:hover{
  background-color: #580084;
}
.home img{
  width: 500px;
}
#categoria img{
      width: 200px;
      margin-left: 150px;
    }
    .home h1{
      color: #580084;
    }
    .home h2{
      color: #580084;
    }
.disponiveisdog img{
  width: 150px;
  margin-left: 160px;
}
.disponiveiscat img{
  width: 150px;
  margin-left: 160px;
}
.disponiveispassaro img{
  width: 150px;
  margin-left: 160px;
}

a{
  text-decoration: none;
}